@font-face {
    font-family: 'Open Sans';
    src: url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
    font-weight: 300;
}

/* This is starting to style the body content */
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(93, 93, 188);
    color: white;
    font-family: 300;
    font-size: 22px;
}

/* This is styling/sizing the whole div in which all the weather resutls will pop up   */
.weather {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    white-space: nowrap;
}

/* This is styling the search bar */
.search_bar {
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(155, 180, 215);
    font-size: 20px;
    color: inherit;
    margin-bottom:20px;
}
/* 
 .weather_details {
    background-color:rgb(155, 180, 215);
    border-radius: 10px;
    /* margin: 0 10px 10px; */
    /* padding: 30px 5px 20px; */
    /* box-sizing: border-box; */
    /* min-width: 20px; */
    /* width: calc (20% -20px); */
    /* flex-grow: 1;   */
/* }  */

/* This will make sure the text inpout within the search bar is white - following styling across the page */
.weather_search::placeholder {
    color:white;
}

/* This provides xxx to the weather_today section */
.weather_today {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* A bit of styling for the weather icon */
#weather-icon {
    width: 30vmin;
    align-self: center;
}

/* From here onwards we sre styling the data that pops into Todays Weather section */
.weather_city {
    font-size: 30px;
    font-weight: 550;
    margin: 20px 0;
}

.weather_day {
   font-size: 30px;
   margin: 10px 0;
   font-weight: 400px;
}

.weather_indicator::before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   width: 30px;
   height: 30px;
   background-size: cover;
   margin-right: 10px;
}

.weather_temperature { 
   font-size: 60px;
}

/* Now 5 day forecast styling */

.weather_forecast {
   width: 100%;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

#weather-icon {
   max-width: 50%;
}

.weather_forecast_item {
  background-color:rgb(155, 180, 215);
  border-radius: 10px;
  margin: 0 10px 10px;
  padding: 30px 5px 20px;
  box-sizing: border-box;
  min-width: 20px;
  width: calc (20% -20px);
  flex-grow: 1;
}

.btn-search-today .btn-search-forecast {
  background-color:rgb(237, 228, 228);
  border-radius: 10px;
  box-sizing: border-box;
}

